body {
  background-color: lightgreen;
  background-attachment: fixed;
  @apply flex justify-center items-center bg-gradient-to-t from-tr-cyan to-blue-800 !important;
}

.login__container {
  @apply flex m-auto justify-center;
}
.login {
  @apply w-10/12 bg-transparent h-fit rounded-xl p-3 font-semibold  flex m-auto absolute top-14;
}

.logo__img {
  width: 30% !important;
  @apply m-auto mt-5;
}

.login__content button {
  @apply w-40 p-2 top-7 hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
}

.register__content button {
  @apply w-40 p-2  hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
}

@media screen and (min-height: 400px) {
  .login {
    @apply top-12;
  }
}

/* * Height for smartphones responsive desgin */
@media screen and (min-height: 667px) {
  .login {
    @apply top-20;
  }
}

/* * width for tablets responsive desgin */

@media screen and (min-width: 800px) {
  input {
    @apply w-64 p-2 !important;
  }

  .register__content input {
    @apply w-44 p-2 !important;
  }
}

/* * width for desktop responsive desgin */

@media screen and (min-width: 912px) {
  input {
    @apply w-64 p-2 !important;
  }

  .register__content input {
    @apply w-44 p-2 !important;
  }

  .login__container {
  }
}

input:focus {
  outline: none;
}
