.modal {
  @apply fixed w-fit p-4 backdrop-blur-2xl;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  @apply p-4 grid justify-center pt-3;
  width: 75vw;
}

#tableID {
  overflow-y: scroll;
}

.modalDetalles {
  @apply bg-blue-400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenido {
  @apply grid grid-cols-1 justify-center gap-8;
}

.contenido input {
  @apply p-2;
}

.btn-agregar-form {
  @apply w-2/4;
}

.modal__message {
  @apply absolute  rounded-lg border border-gray-300 shadow-lg  bg-white p-10;
}

@media (min-width: 600px) {
  .contenido {
    @apply grid grid-cols-2 justify-center gap-8;
  }
}

@media (max-width: 600px) {
  .modal__message {
    width: 100% !important;
    @apply text-sm;
  }
}
