body {
    background-color: lightgreen;
    @apply flex justify-center
    bg-gradient-to-t from-tr-cyan to-blue-800 w-full  md:w-full lg:w-full;
}

.login__container {
    width: 100vw !important;

    @apply flex m-auto justify-center;
}
.login {
    @apply w-10/12 bg-transparent h-fit rounded-xl p-3 font-semibold mt-9 flex m-auto;
}

.logo__img {
    width: 30% !important;
    @apply m-auto mt-5;
}

@media screen and (min-height: 543.33px) {
    .login__container {
        height: 100vh !important;
    }

    .login {
        @apply w-full;
        height: 70%;
    }
}

@media screen and (min-width: 800px) {
    .login__container {
        height: 100vh !important;
    }

    .login {
        @apply w-full top-0;
        height: 70%;
    }

    .login__content {
        @apply w-6/12;
    }
    .register__content {
        @apply w-6/12 top-0;
    }
    .login__content input {
        @apply w-6/12 p-2;
    }

    .login__content img {
        @apply w-36 !important;
    }
    .register__content button {
        @apply w-40 p-2  hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
    }
    .register__content img {
        @apply w-36 !important;
    }
    .login__content button {
        @apply w-40 p-2 hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
    }
    .register__content input {
        @apply w-10/12 p-2;
    }
}

input:focus {
    outline: none;
}
