@import "media-query.css";

body {
  background-color: lightgreen;
  background-attachment: fixed;
  @apply flex justify-center items-center bg-gradient-to-t from-tr-cyan to-blue-800 !important;
}

.login__container {
  @apply flex m-auto justify-center;
}
.login {
  @apply w-10/12 bg-transparent h-fit rounded-xl p-3 font-semibold  flex m-auto absolute top-14;
}

.logo__img {
  width: 30% !important;
  @apply m-auto mt-5;
}

.login__content button {
  @apply w-40 p-2 top-7 hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
}

.register__content button {
  @apply w-40 p-2  hover:bg-green-500 hover:shadow-md active:scale-90 hover:transition-all hover:text-white !important;
}

/* * Register section inputs style */
.register__input {
  @apply w-3/4 m-auto mb-4 rounded-md p-1 text-center;
}

.register__password {
  @apply w-3/4 m-auto mb-4 rounded-md p-1 text-center;
}

.register__direccion {
  @apply w-3/4 m-auto mb-9 rounded-md p-1 text-center mt-2 flex;
}

.start__btn {
  @apply bg-green-400 w-2/4 m-auto p-1 rounded mt-2 flex justify-center;
}

.extra-option {
  @apply mt-3 text-sm font-normal w-2/4 m-auto text-white flex justify-center;
}

.login__input {
  @apply w-3/4 m-auto mb-7 rounded-md p-1 text-center;
}

input:focus {
  outline: none;
}

.login__message {
  @apply absolute  rounded-lg border border-gray-300 shadow-lg   bg-white p-10;
}
